services:
  thryft-ai-server:
    build: .
    ports:
      - "8080:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_HTTP_PORTS=8080
    env_file:
      - .env
    volumes:
      - ./app.db:/app/app.db
